In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from textblob import TextBlob
from empath import Empath
lexicon = Empath()

In [2]:
exredpill = pd.read_csv('Comments-Data/exredpill_Comments.csv')

In [3]:
exredpill.head()

,ID,Comment,Author,Score,Parent id,Publish Date
0,chi1gnk,Did many other people at your school/college d...,accacaaccaca,4,t3_25kd9o,2014-05-14 17:36:05
1,chi6vf2,[deleted],[deleted],2,t3_25kd9o,2014-05-14 20:44:56
2,chi9org,Seconding this. What do you think it would tak...,laskuraska,2,t1_chi6vf2,2014-05-14 22:31:07
3,chibx7j,"Personally, I think the best way redpillers co...",[deleted],3,t1_chi6vf2,2014-05-14 23:53:34
4,chic1kd,[deleted],[deleted],1,t1_chibx7j,2014-05-14 23:58:24

In [4]:
comment = np.array(exredpill['Comment'], dtype='U500')
type(comment[10])

numpy.str_

In [5]:
sentiment = []
value = np.array([], dtype=float)

In [6]:
value = [TextBlob(item).sentiment[0] for item in comment]

In [7]:
exredpill['polarity'] = value

In [8]:
exredpill.head()

,ID,Comment,Author,Score,Parent id,Publish Date,polarity
0,chi1gnk,Did many other people at your school/college d...,accacaaccaca,4,t3_25kd9o,2014-05-14 17:36:05,0.093750
1,chi6vf2,[deleted],[deleted],2,t3_25kd9o,2014-05-14 20:44:56,0.000000
2,chi9org,Seconding this. What do you think it would tak...,laskuraska,2,t1_chi6vf2,2014-05-14 22:31:07,-0.066667
3,chibx7j,"Personally, I think the best way redpillers co...",[deleted],3,t1_chi6vf2,2014-05-14 23:53:34,0.377778
4,chic1kd,[deleted],[deleted],1,t1_chibx7j,2014-05-14 23:58:24,0.000000

In [9]:
for comment in exredpill['Comment']:
    sentiment.append(TextBlob(comment).sentiment[0])

In [10]:
exredpill['polarity2'] = sentiment

In [11]:
exredpill.head(10)

,ID,Comment,Author,Score,Parent id,Publish Date,polarity,polarity2
0,chi1gnk,Did many other people at your school/college d...,accacaaccaca,4,t3_25kd9o,2014-05-14 17:36:05,0.093750,0.093750
1,chi6vf2,[deleted],[deleted],2,t3_25kd9o,2014-05-14 20:44:56,0.000000,0.000000
2,chi9org,Seconding this. What do you think it would tak...,laskuraska,2,t1_chi6vf2,2014-05-14 22:31:07,-0.066667,-0.066667
3,chibx7j,"Personally, I think the best way redpillers co...",[deleted],3,t1_chi6vf2,2014-05-14 23:53:34,0.377778,0.357500
4,chic1kd,[deleted],[deleted],1,t1_chibx7j,2014-05-14 23:58:24,0.000000,0.000000
5,chic9k5,"Actually, not that many people sent up red fla...",[deleted],7,t1_chi1gnk,2014-05-15 00:07:10,-0.007386,-0.026091
6,chie456,"&gtUnfortunately, all the pretty girls smoked ...",chinchillazilla54,1,t3_25kd9o,2014-05-15 01:27:10,0.216250,0.216250
7,chitnhi,[deleted],[deleted],-1,t1_chibx7j,2014-05-15 15:34:04,0.000000,0.000000
8,chiukfp,"That's fine. That's just your opinion, but I h...",[deleted],1,t1_chitnhi,2014-05-15 16:04:42,0.338889,0.338889
9,chium4u,"Whenever there is a blue pill example, like cl...",absolutebeginners,6,t1_chitnhi,2014-05-15 16:06:21,-0.250000,-0.250000

In [29]:
lexicon.analyze(exredpill['Comment'][0]).values()

dict_values([0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0])

In [47]:
y = np.zeros(len(lexicon.analyze(exredpill['Comment'][0]).values()))
y

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0.])

In [55]:
z =  np.array(list(lexicon.analyze(exredpill['Comment'][0]).values()))
z

array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 2., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0.])

In [89]:
%%time
y = np.zeros(len(lexicon.analyze(exredpill['Comment'][0]).values()))
for comment in exredpill['Comment'][:800]:
    y = np.add(y, np.array(list(lexicon.analyze(comment).values())))

CPU times: user 5.62 s, sys: 0 ns, total: 5.62 s
Wall time: 5.62 s

In [90]:
%%time
analyze = lexicon.analyze(exredpill['Comment'][0])
analyze_series = pd.Series(analyze)

for comment in exredpill['Comment'][:800]:
    analyze_series += pd.Series(lexicon.analyze(str(comment)))

CPU times: user 5.78 s, sys: 35 Âµs, total: 5.78 s
Wall time: 5.82 s